/* 
Color Palettes 

Toolbar: (Most grayish)
#7f8084

Background 2: (Gray)
#afb2b7

: (Light gray)
#d7d8da

Ligth light gray)
#f3f3f3

Accents: (black)
#262526
*/

/* Toolbar */

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

body > * {
	font-family: 'Playfair Display', serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
    width: 100%;
	height: 50px;
    background-color: #7f8084;
}

.menuDiv {
	width: 33%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menuLink {
	display: block;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 40px;
}

.logoDiv {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoLink {
	width: 150px;
}

.icon {
	width: 40px;
    height: 40px;
}

.iconLink {
	width: 40px;
    height: 40px;
	margin: 6px;
	display: block;
}

#navHeart {
	background-image: url('./Icons/heart_white_40px.png');
}

#navHeart:hover {
	background-image: url('./Icons/heart_red_40px.png')
}

#navCart {
	background-image: url('./Icons/shopping_cart_white_40px.png')
}

#navCart:hover {
	background-image: url('./Icons/shopping_cart_gray_40px.png')
}

#navUser {
	background-image: url('./Icons/user_avatar_white_40px.png')
}

#navUser:hover {
	background-image: url('./Icons/user_avatar_gray_40px.png')
}

#navMenu { 
	background-image: url('./Icons/menu_40px.png')
}

#navMenu:hover { 
	background-image: url('./Icons/menu_gray_40px.png')
}

.userLinksDiv {
	width: 33%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.userName:hover {
	color: #bbbbbb;
}

.userName {
	display: flex;
	align-content: center;
	margin-left: 10px;
	margin-right: 20px;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
}

.userName > p {
	line-height: unset;
	margin: 0;
}

/* Accesory Page */

.accesoryPageList {
	width: 100%;
	padding-top: 50px;
    display: flex;
	justify-content: space-between;
}

.selectionMenus {
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories{
	order: 1;
	/* height: 50%; */
	width: 80%;
	margin: 20px;
	background-color: #d7d8da;
}

.categoriesHeader {
	cursor: default;
	margin: 0;
	margin-top: 5px;
	padding-left: 10px;
}

.categories > ul {
	margin-top: 8px;
	padding-left: 16px;
}

.categories > ul > li {
	list-style-type: none;
}

.categories > ul > li > a {
	color: #7f8084;
	text-decoration: none;
	margin: 0;
}

.categories > ul > li > a:hover {
	color: white;
}

.filter {
	order: 2;
	height: 50%;
	width: 80%;
	margin: 0 20px 20px 20px;
	background-color: #d7d8da;	
}

.accesoryList {
	width: 85%;
	padding-top: 5px;
	padding-right: 20px;
}

.accesoryListHeading {
	color: #262526;
	padding-left: 20px;
}

.accesoryItemsList {
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.accesoryItem {
	width: 225px;
	height: 225px;
	margin: 30px;
	background-color: white;
}

/* Home page */

.mainHome {
	width: 100%;
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
}

.mainHomeTop {
	background-image: url('./images/bg.png');
	background-position: center;
	background-repeat: repeat;
	width: 100%;
	height: 300px;
	padding-left: 10px;
	border-bottom: 1px #afb2b7 solid;
}

.mainHomeBottom {
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.lastAccessory {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: stretch;
}

.lastAccessoryAdded {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	width: 175px;
	height: 175px;
	margin: 20px;
	background-color: white;
}

/* Common */
.dropdown {
	position: relative;
	width: 50px;
}

.dropdownContent {
	top: 46px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
	z-index: 1;
	background-color: #d7d8da;
	cursor: default;
}

.dropdownContent > ul {
	
	padding-left: 16px;
}

.dropdownContent > ul > li {
	list-style-type: none;
}

.dropdownContent > ul > li > a {
	color: #7f8084;
	text-decoration: none;
	margin: 0;
}

.dropdownContent > ul > li > a:hover {
	color: white;
}

.dropdown:hover .dropdownContent {
    display: block;
}