<main class="accesoryPageList">
	<a class="menuLinkAlt" id="navMenuAlt"></a>
	<aside class="selectionMenus">
		<div class="categories">
			<h3 class="categoriesHeader">Categories:</h3>

		</div>
		<div class="filters">
			<h3 class="filtersHeader">Filter by:</h3>
			<ul>
				<li>
					<p>Color</p>
					<ul id="colorChoice">

					</ul>
				</li>
				<li>
					<p>Gender</p>
					<ul>
						<li><a id="genderMan">Man</a></li>
						<li><a id="genderWoman">Woman</a></li>
					</ul>
				</li>
				<li>
					<p>Price</p>
					<ul>
						<li><a id="priceAscending">Ascending</a></li>
						<li><a id="priceDescending">Descending</a></li>
					</ul>
				</li>
				<li><a id="resetAll">Reset all</a></li>
			</ul>
		</div>
	</aside>
	<section class="accesoryList">
		<h1 class="accesoryListHeading">All Accessories</h1>
		<hr class="accessoryLine">
		<div class="accessoryItemsListContainer">
			<div class="accesoryItemsList">

			</div>
		</div>
		<hr class="accessoryLine">
	</section>
</main>