<main class="accesoryPageList">
	<aside class="selectionMenus">
		<div class="categories">
			<h3 class="categoriesHeader">Categories:</h3>
			
		</div>
		<div class="filters">
			<h3 class="filtersHeader">Filter by:</h3>
			<ul>
				<li><a href="#">Color</a></li>
				<li>
					<p>Gender</p>
					<ul>
						<li><a id="genderMan">Man</a></li>
						<li><a id="genderWomen">Women</a></li>
					</ul>
				</li>
				<li>
					<p>Price</p>
					<ul>
						<li><a id="priceAscending">Ascending</a></li>
						<li><a id="priceDescending">Descending</a></li>
					</ul>
				</li>
				<li><a href="#accessory_page_list?category=all_categories">Reset all</a></li>
			</ul>
		</div>
	</aside>
	<section class="accesoryList">
		<h1 class="accesoryListHeading">All Accessories</h1>
		<hr class="accessoryLine">
		<div class="accessoryItemsListContainer">
			<div class="accesoryItemsList">
				
			</div>
		</div>
		<hr class="accessoryLine">
	</section>
</main>