<main class="favoritesPageList">
	<section class="favoritesList">
		<h1 class="favoritesListHeading">Favorites</h1>
		<hr class="favoritesLine">
		<div class="favoritesItemsListContainer">
			<div class="favoritesItemsList">
				<div class="favoritesItem">
					<a class="favoritesLink" href="#">
						<img class="favoritesImage" src="./images/fedora.jpg" alt="fedora hat">
						<p class="favoritesTitle">Fedora</p>
					</a>
					<a class="favoritesHeart" href="#"></a>
					<p class="favoritesPrice">100.00</p>
				</div>
				<div class="favoritesItem">
					<a class="favoritesLink" href="#">
						<img class="favoritesImage" src="./images/red_hat.jpg" alt="red hat">
						<p class="favoritesTitle">Red Hat</p>
					</a>
					<a class="favoritesHeart" href="#"></a>
					<p class="favoritesPrice">50.00</p>
				</div>
				<div class="favoritesItem">
					<a class="favoritesLink" href="#">
						<img class="favoritesImage" src="./images/flat_cap.jpg" alt="flat cap">
						<p class="favoritesTitle">Flat Cap</p>
					</a>
					<a class="favoritesHeart" href="#"></a>
					<p class="favoritesPrice">70.00</p>
				</div>
				<div class="favoritesItem">
					<a class="favoritesLink" href="#">
						<img class="favoritesImage" src="./images/warm_hat.jpg" alt="warm hat">
						<p class="favoritesTitle">Warm hat</p>
					</a>
					<a class="favoritesHeart" href="#"></a>
					<p class="favoritesPrice">85.00</p>
				</div>
				<div class="favoritesItem">
					<a class="favoritesLink" href="#">
						<img class="favoritesImage" src="./images/grey_cap.jpg" alt="grey cap">
						<p class="favoritesTitle">Cap</p>
					</a>
					<a class="favoritesHeart" href="#"></a>
					<p class="favoritesPrice">40.00</p>
				</div>
			</div>
		</div>
		<hr class="favoritesLine">
	</section>
</main>