<main>
    <div class="mainHome">
        <div class="welcomeContainer">
            <div class="welcomeText">
                <p class="firstWelcomeText">Welcome to HEGE.</p>
                <p class="secondWelcomeText">Find your perfect head accessory and test it live from your home.</p>
            </div>
        </div>
    </div>
    <div class="mainHomeCenterVertical">
        <h2>Last Added</h2>
        <hr class="horizontalLine" />
    </div>
    <section class="mainHomeBottom">
        <h2>Last Added</h2>
    </section>
</main>