<main>
    <section id="mainItemPage">
        <h2>Item</h2>
        <div class="mainItemPageTop">
            <div class="mainItemPageTopLeft">
                <img class="itemImage" src="./images/red_hat.jpg" alt="navy cap">
            </div>
            <div class="mainItemPageTopRight">
                <p>Red Hat</p>
                <p>Price: 50.00$</p>
                <p>Description:</p>
                <p>
                    This is a hat, did you know that?
                    <!-- <br /> -->
                    A very very beautifull hat.
                </p>
                <p>Size:</p>
                <select class="size">
                    <option value="volvo">S</option>
                    <option value="saab">M</option>
                    <option value="mercedes">L</option>
                </select>
                <a id="itemHeartItemPage" href="#"></a>
            </div>
        </div>
        <div class="mainItemPageCenter">
            <div id="tryIt">
                Try it LIVE
                <div id='imgHat'></div>
            </div>
            <button class="addToCart">
                Add to cart
                <span id='imgCart'></span>
            </button>
        </div>
        Recommendations
        <hr class="horizontalLine itemPageWidth" />
        <div class="mainItemPageBottom">
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/red_hat.jpg" alt="red hat">
                    <p class="accessoryTitle">Red Hat</p>
                </a>
            </div>
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/black_hat.jpg" alt="black hat">
                    <p class="accessoryTitle">Black Hat</p>
                </a>
            </div>
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/flat_cap.jpg" alt="flat cap">
                    <p class="accessoryTitle">Flat Cap</p>
                </a>
            </div>
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/red_hat.jpg" alt="red hat">
                    <p class="accessoryTitle">Red Hat</p>
                </a>
            </div>
        </div>
        <hr class="itemPageWidth" />
    </section>
    <section id="mainWebcamPage">
        <h2>Try it</h2>
        <div id="backToItem">
        </div>
        <div class="webcam">
            <img src="./images/woman_wearing_hat.jpg" alt="woman wearing hat">
            <button class="takePhoto">Take photo</button>
        </div>
        <div class="itemChoices">
            <a href="#" class="itemChoicesFavorites"></a>
            <a href="#" class="itemChoicesCart"></a>
        </div>
    </section>
    <!-- <hr class="webcamPageWidth" /> -->
</main>