<main>
    <section id="mainItemPage">
        <h2>Item</h2>
        <div class="mainItemPageTop">
            <div class="mainItemPageTopLeft">
            </div>
            <div class="mainItemPageTopRight">
                <p>Size:</p>
                <select class="size">
                    <option value="volvo">S</option>
                    <option value="saab">M</option>
                    <option value="mercedes">L</option>
                </select>
                <a id="itemHeartItemPage" href="#"></a>
            </div>
        </div>
        <div class="mainItemPageCenter">
            <div id="tryIt">
                Try it LIVE
                <div id='imgHat'></div>
            </div>
            <button class="addToCart">
                Add to cart
                <span id='imgCart'></span>
            </button>
        </div>
        Recommendations
        <hr class="horizontalLine itemPageWidth" />
        <div class="mainItemPageBottom">
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/red_hat.jpg" alt="red hat">
                    <p class="accessoryTitle">Red Hat</p>
                </a>
            </div>
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/black_hat.jpg" alt="black hat">
                    <p class="accessoryTitle">Black Hat</p>
                </a>
            </div>
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/flat_cap.jpg" alt="flat cap">
                    <p class="accessoryTitle">Flat Cap</p>
                </a>
            </div>
            <div class="lastAccessoryAdded">
                <a class="accessoryLink" href="#">
                    <img class="lastAccessoryImage" src="./images/red_hat.jpg" alt="red hat">
                    <p class="accessoryTitle">Red Hat</p>
                </a>
            </div>
        </div>
        <hr class="itemPageWidth" />
    </section>
    <section id="mainWebcamPage">
        <div id="backToItem"></div>
        <div id="webcam">
            <video id="videoWebCam"></video>
            <canvas id="canvasAccessoryLayer"></canvas>
            <div id="allowMessage">
                <p>Please allow us to use your camera to continue</p>
            </div>
            <button id="takePhoto">Take photo</button>
        </div>
        <div class="itemChoices">
            <a href="#" class="itemChoicesFavorites"></a>
            <a href="#" class="itemChoicesCart"></a>
        </div>
    </section>
</main>