<main>
    <section class="login">
        <a href="home.html">
            <img class="loginLogoImage" src="./all_icons/login_logo.png" alt="hege logo">
        </a>
        <div class="loginBlock">
            <h2>Hi</h2>
            <p>Please enter your email: </p>
            <input type="email">
            <p>
                You don't have an account?
                <br />
                Don't worry, you can create one in the next step
            </p>
            <button class="loginButton">Next step</button>
        </div>
    </section>
</main>