<main class="userPage">
    <div class="userPageContainer">
        <section class="userSettings">
            <h1 class="userPageListHeading">User Page</h1>
            <hr class="userPageLine">
            <div class="userSettingsPane">
                <div class="userPageSettingsImage">
                    <a href="#">
                        <img class="userImage" src="./images/user_image.jpg" alt="user's image">
                    </a>
                    <button class="updateImageButton userPageButton">
                        Update Image
                    </button>
                </div>
                <div class="userSettingsPaneOptions">
                    <div class="userPageSettingsOptions">
                        <p class="inputLabel">First Name</p>
                        <input type="text" name="UserName" value="Marius"><br>
                        <p class="inputLabel">Last Name</p>
                        <input type="text" name="UserName" value="Parasca"><br>
                        <p class="inputLabel">E-mail</p>
                        <input type="text" name="Email" value="mariusparasca@gmail.com"><br>
                        <button class="userPageButton">
                            Update Account
                        </button>
                    </div>
                    <div class="userPageSettingsOptions">
                        <p class="inputLabel">Old Password</p>
                        <input type="password" name="Password" value=""><br>
                        <p class="inputLabel">New Password</p>
                        <input type="password" name="Password" value=""><br>
                        <p class="inputLabel">Confirm New Password</p>
                        <input type="password" name="Password" value=""><br>
                        <button class="userPageButton">
                            Update Password
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="savedImages">
            <h1 class="userPageListHeading">Saved Images</h1>
            <hr class="userPageLine">
            <div class="savedImagesCardsContainer">
                <div class="savedImagesCards">
                    <!-- how it should be
                    <div class="userImageTakenCard">
                        <img class="userImageTaken" src="./images/user_image_photo.jpg" alt="user's image">
                        <div class="imageTakenActions">
                            <button class="deleteImage button" title="Delete image"></button>
                            <p class="imageDate">27.10.2018 18:23</p>
                            <button class="downloadImage button" title="Download image"></button>
                        </div>
                    </div> -->
                </div>
            </div>
            <hr class="userPageLine">
        </section>
    </div>
</main>