<main class="userPage">
    <div class="userPageContainer">
        <section class="userSettings">
            <h1 class="userPageListHeading">User Preferences</h1>
            <hr class="userPageLine">
            <div class="userSettingsPane">
                <h3 class="userPageListHeading">Color Preference</h3>
                <hr class="userPageLine">
            </div>
        </section>
        <section class="savedImages">
            <h1 class="userPageListHeading">Saved Images</h1>
            <hr class="userPageLine">
            <div class="savedImagesCardsContainer">
                <div class="savedImagesCards">
                    <!-- how it should be
                    <div class="userImageTakenCard">
                        <img class="userImageTaken" src="./images/user_image_photo.jpg" alt="user's image">
                        <div class="imageTakenActions">
                            <button class="deleteImage button" title="Delete image"></button>
                            <p class="imageDate">27.10.2018 18:23</p>
                            <button class="downloadImage button" title="Download image"></button>
                        </div>
                    </div> -->
                </div>
            </div>
            <hr class="userPageLine">
        </section>
    </div>
</main>