<main class="cartPage">
    <section class="cartSection">
        <h1 class="cartHeading">Your Cart</h1>
        <hr class="cartPageLine">
        <div class="usersOrder">
            <div class="orderTotal">
                <div class="orderLabels">
                    <p class="totalText">Total:</p>
                    <p class="totalPrice"></p>
                </div>
                <div class="orederButton">
                    <button id="checkOutButton">
                        Check Out
                    </button>
                </div>
            </div>
        </div>
        <hr class="userPageLine">
    </section>
</main>