<main class="userPage">
    <div class="userPageContainer">
        <section class="userSettings">
            <h1 class="userPageListHeading">User Preferences</h1>
            <hr class="userPageLine">
            <div class="userSettingsPane">
                <h3 class="userPageListHeading">Color Preference</h3>
                <hr class="userPageLine">
            </div>
        </section>
        <section class="savedImages">
            <h1 class="userPageListHeading">Saved Images</h1>
            <hr class="userPageLine">
            <div class="savedImagesCardsContainer">
                <div class="savedImagesCards">

                </div>
            </div>
            <hr class="userPageLine">
        </section>
    </div>
</main>